<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>SubCategory </h4>
        </div>

    </div>
    <div class="row categories">
        <div class="card col-md-3 offset-md-1" *ngFor="let item of subCategories">
            <div class="card-body centerContent">
                <i class="fa fa-user fa-5x"></i>
                <h5 class="card-title">{{item.name}}</h5>
                <a routerLink="/item/{{item.subCategoryId}}" class="btn btn-primary">Show Item</a>
            </div>
        </div>
    </div>
</div>