<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Categories </h2>
        </div>

    </div>
    <div class="row categories">
        <div class="card col-md-3 offset-md-1" *ngFor="let item of categories">
            <div class="card-body centerContent">
                <i class="fa fa-user fa-5x"></i>
                <h5 class="card-title">{{item.name}}</h5>
                <a routerLink="/subcategory/{{item.id}}" class="btn btn-primary">SubCategory</a>
            </div>
        </div>
    </div>
</div>